{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    {{#if @custom.show_featured_posts}}
        {{> "featured-posts"}}
    {{/if}}

    {{#get "tags" limit="all"}}
<<<<<<< HEAD

    <div class="topic-feed-index">
        <section class="topic">
            <header class="topic-header">
                <h2 class="topic-name">
                    <a href="/enterprise/">Enterprise</a>
                </h2>
            </header>

            <ul class="topic-article-feed">
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/primeros-pasos-enterprise/">
                            Primeros pasos enterprise
                        </a>
                    </h3>

                    {{#get "posts" include="tags" limit="all" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post }}
                                {{#has tag="Primeros pasos enterprise"}}
=======

    <div class="topic-feed">
        <section class="topic">
            <header class="topic-header">
                <h2 class="topic-name">
                    <a href="/enterprise/">Enterprise</a>
                </h2>
            </header>

            <ul class="topic-article-feed">
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/primeros-pasos-enterprise/">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                            Primeros pasos
                        </a>
                    </h3>

                    {{#get "posts" include="tags" order="published_at asc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post }}
                                {{#has tag="Primeros pasos enterprise" limit="4" }}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
<<<<<<< HEAD

                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/agente/">
                            Agente
                        </a>
                    </h3>

                    {{#get "posts" include="tags" limit="all" order="published_at desc" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post }}
                                {{#has tag="agente"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>

                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/usuarios-enterprise">
                            Usuarios
                        </a>
                    </h3>

                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Usuarios"}}
=======
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/usuarios">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                            Usuarios
                        </a>
                    </h3>

                    {{#get "posts" limit="5" include="tags" order="published_at asc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Usuarios"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/configuracion-enterprise/">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                            Campañas
                        </a>
                    </h3>

                    {{#get "posts" limit="5" include="tags" order="published_at asc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="campanas-enterprise"}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
<<<<<<< HEAD
                        <a class="topic-article-link" href="/tag/campanas-enterprise/">
                            Campañas
                        </a>
                    </h3>

                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Campañas" limit="6"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/templates-enterprise">
=======
                        <a class="topic-article-link" href="/tag/templates">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                            Templates
                        </a>
                    </h3>

<<<<<<< HEAD
                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="templates"}}
=======
                    {{#get "posts" limit="5" include="tags" order="published_at asc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="templates-enterprise"}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
<<<<<<< HEAD
                        <a class="topic-article-link" href="/tag/tablero-enterprise/">
=======
                        <a class="topic-article-link" href="/tablero-enterprise/">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                            Tablero e información adicional
                        </a>
                    </h3>

<<<<<<< HEAD
                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Tablero e información adicional"}}
=======
                    {{#get "posts" limit="5" include="tags" order="published_at asc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="tablero-enterprise"}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>                            
            </ul>

             <a class="topic-more" href="/enterprise/">Leer más</a>
        </section>
        <section class="topic">
            <header class="topic-header">
                <h2 class="topic-name">
                    <a href="/franquicias/">Franquicias</a>
                </h2>
            </header>

            <ul class="topic-article-feed">
                <li class="topic-article">
                    <h3 class="topic-article-title">
<<<<<<< HEAD
                        <a class="topic-article-link" href="/tag/primeros-pasos-franquicias/">
                            Primeros pasos franquicias
                        </a>
                    </h3>

                    {{#get "posts" include="tags" limit="all" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Primeros pasos franquicias"}}
=======
                        <a class="topic-article-link" href="/primeros-pasos-franquicias/">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                            Primeros pasos
                        </a>
                    </h3>

                    {{#get "posts" limit="5" include="tags" order="published_at asc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="primeros-franquicias"}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
<<<<<<< HEAD

                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/agente/">
                            Agente
                        </a>
                    </h3>

                    {{#get "posts" include="tags" limit="all" order="published_at desc" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post }}
                                {{#has tag="agente"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>

                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/usuarios-franquicias">
=======
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/usuarios-permisos">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                            Usuarios y permisos
                        </a>
                    </h3>

<<<<<<< HEAD
                     {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="usuarios y permisos"}}
=======
                     {{#get "posts" limit="5" include="tags" order="published_at asc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="usuarios-franquicias"}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
<<<<<<< HEAD
                        <a class="topic-article-link" href="/tag/configuracion-franquicias/">
                            Configuración
                        </a>
                    </h3>

                     {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="configuracion"}}
=======
                        <a class="topic-article-link" href="/configuracion-franquicias/">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                            Configuracion
                        </a>
                    </h3>

                     {{#get "posts" limit="5" include="tags" order="published_at asc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="configuracion-franquicias"}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
<<<<<<< HEAD
                        <a class="topic-article-link" href="/tag/tienda-franquicias/">
=======
                        <a class="topic-article-link" href="/tag/tienda">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                            Tienda
                        </a>
                    </h3>

<<<<<<< HEAD
                     {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="tienda"}}
=======
                     {{#get "posts" limit="5" include="tags" order="published_at asc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="tienda-franquicias"}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
<<<<<<< HEAD
                        <a class="topic-article-link" href="/tag/graficas-franquicias">
=======
                        <a class="topic-article-link" href="/tablero-franquicias/">
                        {{!-- <a class="topic-article-link" href="{{url}}"> --}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                            Gráficas e información adicional
                        </a>
                    </h3>

<<<<<<< HEAD
                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Gráficas e información adicional"}}
=======
                    {{#get "posts" limit="5" include="tags" order="published_at asc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="tienda-franquicias"}}
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>                            
            </ul>

             <a class="topic-more" href="/franquicias/">Leer más</a>
        </section>
    </div>
    {{/get}}




</main>
</div>
<<<<<<< HEAD























=======
>>>>>>> e884252dedbf7efefcd82a22e87e3825cc038353
