{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    {{#if @custom.show_featured_posts}}
        {{> "featured-posts"}}
    {{/if}}

    {{#get "tags" limit="all"}}

    <div class="topic-feed">

        <section class="topic">
                <header class="topic-header">
                    <h2 class="topic-name">
                        <a href="/enterprise/">Enterprise</a>
                    </h2>
                </header>

                <ul class="topic-article-feed">
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/primeros-pasos-enterprise/">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Primeros pasos
                                    </a>
                                </h3>
                            </li>
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/tag/usuarios">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Usuarios
                                    </a>
                                </h3>
                            </li>
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/configuracion-enterprise/">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Configuracion
                                    </a>
                                </h3>
                            </li>
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/tag/templates">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Templates
                                    </a>
                                </h3>
                            </li>
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/tablero-enterprise/">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Tablero, mensajes, equipo
                                    </a>
                                </h3>
                            </li>                            
                    </ul>
                <a class="topic-more" href="/enterprise/">Leer más</a>
        </section>
                <section class="topic">
                <header class="topic-header">
                    <h2 class="topic-name">
                        <a href="/franquicias/">Franquicias</a>
                    </h2>
                </header>

                <ul class="topic-article-feed">
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/primeros-pasos-franquicias/">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Primeros pasos
                                    </a>
                                </h3>
                            </li>
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/tag/usuarios-permisos">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Usuarios, permisos
                                    </a>
                                </h3>
                            </li>
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/configuracion-franquicias/">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Configuracion
                                    </a>
                                </h3>
                            </li>
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/tag/tienda">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Tienda
                                    </a>
                                </h3>
                            </li>
                            <li class="topic-article">
                                <h3 class="topic-article-title">
                                    <a class="topic-article-link" href="/tablero-franquicias/">
                                    {{!-- <a class="topic-article-link" href="{{url}}"> --}}
                                        {{> "icons/chevron-right"}}Tablero, mensajes, equipo
                                    </a>
                                </h3>
                            </li>                            
                    </ul>
                <a class="topic-more" href="/franquicias/">Leer más</a>
        </section>

            {{!-- {{#foreach tags }}
                
                    <section class="topic">
                        <header class="topic-header">
                            <h2 class="topic-name">
                                <a href="{{url}}">{{name}}</a>
                            </h2>
                        </header>

                        {{#get "posts" order="published_at asc" filter="tag:{{slug}}" limit="5" as |featured|}}
                            <ul class="topic-article-feed">
                                {{#foreach featured}}
                                <li class="topic-article">
                                    <h3 class="topic-article-title">
                                        <a class="topic-article-link" href="{{url}}">
                                            {{> "icons/chevron-right"}} {{title}}
                                        </a>
                                    </h3>
                                </li>
                                {{/foreach}}
                            </ul>
                        {{/get}}
                        <a class="topic-more" href="{{url}}">Leer más</a>
                    </section>
                
            {{/foreach}} --}}
    </div>
    {{/get}}




</main>
</div>