{{!< default}}

<div class="gh-outer">
<main class="site-main gh-inner">

    {{#if @custom.show_featured_posts}}
        {{> "featured-posts"}}
    {{/if}}

    {{#get "tags" limit="all"}}

    <div class="topic-feed-index">
        <section class="topic">
            <header class="topic-header">
                <h2 class="topic-name">
                    <a href="/enterprise/">Enterprise</a>
                </h2>
            </header>

            <ul class="topic-article-feed">
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/primeros-pasos-enterprise/">
                            Primeros pasos enterprise
                        </a>
                    </h3>

                    {{#get "posts" include="tags" limit="all" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post }}
                                {{#has tag="Primeros pasos enterprise"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>

                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/agente/">
                            Agente
                        </a>
                    </h3>

                    {{#get "posts" include="tags" limit="all" order="published_at desc" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post }}
                                {{#has tag="agente"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>

                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/usuarios-enterprise">
                            Usuarios
                        </a>
                    </h3>

                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Usuarios"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/campanas-enterprise/">
                            Campañas
                        </a>
                    </h3>

                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Campañas" limit="6"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/templates-enterprise">
                            Templates
                        </a>
                    </h3>

                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="templates"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/tablero-enterprise/">
                            Tablero e información adicional
                        </a>
                    </h3>

                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-enterprise" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Tablero e información adicional"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>                            
            </ul>

             <a class="topic-more" href="/enterprise/">Leer más</a>
        </section>
        <section class="topic">
            <header class="topic-header">
                <h2 class="topic-name">
                    <a href="/franquicias/">Franquicias</a>
                </h2>
            </header>

            <ul class="topic-article-feed">
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/primeros-pasos-franquicias/">
                            Primeros pasos franquicias
                        </a>
                    </h3>

                    {{#get "posts" include="tags" limit="all" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Primeros pasos franquicias"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>

                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/agente/">
                            Agente
                        </a>
                    </h3>

                    {{#get "posts" include="tags" limit="all" order="published_at desc" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post }}
                                {{#has tag="agente"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>

                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/usuarios-franquicias">
                            Usuarios y permisos
                        </a>
                    </h3>

                     {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="usuarios y permisos"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/configuracion-franquicias/">
                            Configuración
                        </a>
                    </h3>

                     {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="configuracion"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/tienda-franquicias/">
                            Tienda
                        </a>
                    </h3>

                     {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="tienda"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>
                <li class="topic-article">
                    <h3 class="topic-article-title">
                        <a class="topic-article-link" href="/tag/graficas-franquicias">
                            Gráficas e información adicional
                        </a>
                    </h3>

                    {{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" as |post|}}
                        <div class="gh-canvas">
                            {{#foreach post}}
                                {{#has tag="Gráficas e información adicional"}}
                                    <article class="no-image">
                                        <div class="post-wrapper">
                                            <header class="post-header">
                                                <a href="{{url}}">
                                                    <p class="blog-title">{{> "icons/chevron-right"}} {{title}}</p>
                                                </a>
                                            </header>
                                        </div>
                                    </article>
                                {{/has}}
                            {{/foreach}}
                        </div>
                    {{/get}}
                </li>                            
            </ul>

             <a class="topic-more" href="/franquicias/">Leer más</a>
        </section>
    </div>
    {{/get}}




</main>
</div>























