{{!< default}}

<main class="site-main">

	{{#tag}}
		<div class="term-container gh-canvas">
			<section class="term">
				<h1 class="term-name">{{name}}</h1>
				{{#if description}}
					<div class="term-description">{{description}}</div>
				{{/if}}
			</section>
		</div>
	{{/tag}}

	{{#get "posts" include="tags" order="published_at desc" filter="tag:hash-franquicias" limit="5" as |post|}}
		{{!-- {{#post}}
            {{tags}}
        {{/post}} --}}

		<div class="post-feed gh-canvas">
			{{#foreach posts}}
				<article class="post tag-hash-franquicias no-image">
					<div class="post-wrapper">
						<header class="post-header">
							<h2 class="post-title">{{tags}}</h2>
						</header>

					</div>
				</article>
			{{/foreach}}
		</div>
	{{/get}}

	{{pagination}}

</main>